h1,h2,h3,h4,h5,h6 {
    font-family: "Baskerville", "Garamond", "Palatino", serif;
}

hgroup.titlearea .title {
    margin-bottom: 0.2em;
    font-size: 2.5em;
}

hgroup.titlearea .subtitle {
    margin-top: 0;
    margin-bottom: 0.3em;
    font-size: 1.75em;
}

.icon-inline {
    height: 1em;
    width: 1em;
}

.translation::before {
    content: '\201C';
    position: absolute;
    margin-left: -1em;
    width: 1em;
    text-align: right;
}

.translation::after {
    content: "\201D";
}

.content {
    /* width: 100%; */
    padding-right: 28px;
    padding-left: 28px;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

li {
    margin-bottom: 0.2em;
}

section h1 {
    font-size: 1.75em;
    margin-bottom: 0.2em;
}

section p {
    margin-top: 0.3em;
}

section img {
    max-width:100%;
    max-height:100%;
}

body {
    font-family: "Georgia","Palatino","Times",serif;
    font-variant-numeric: oldstyle-nums;
}