<!doctype html>

<html lang="en" xml:lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{%- if page.title != null -%}{{ page.title }}&#32;|&#32;{%- endif -%}{{ site.title }}</title>

    <link rel="icon"
        type="image/vnd.microsoft.icon"
        href="/assets/img/vomiting-emoji.ico" />
    <link rel="stylesheet" type="text/css"
    href="{{ site.baseurl }}/assets/css/styles.css" />
</head>

<body>
    <header>
        {% include header.html %}
        {% include navigation.html %}
    </header>
    <div class="content">
        {{ content }}
    </div>
    <footer>
        {% include footer.html %}
    </footer>
</body>

</html>
